*{
    background-color: rgb(138, 53, 218);
    font-family: sans-serif;
}
h1{
text-align: center;
color: rgb(232, 212, 252);
filter: drop-shadow(10px 10px 30px black);
background-color: rgb(120, 53, 182);
}
ol,li,a{
    color: rgb(253, 253, 253);
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}